<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create sound</title>
    <meta th:insert="fragments/header::header">
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<section class="p-4" style="background-color: #eee;">
    <div class="container w-50">
        <div class="card p-1">
            <div class="card-body p-md-5">
                <h4 class="mb-3 text-uppercase text-center" th:text="#{sound_content_creation_form}">
                </h4>
                <div class="row">
                    <div class="col-form-label-lg">
                        <form th:action="@{/sound-content/create}" th:object="${soundContent}"
                              enctype="multipart/form-data"
                              method="post">
                            <div class="row align-items-center p-2">
                                <div class="col-3 ">
                                    <h5 class="mb-0" th:text="#{content_text}">
                                    </h5>
                                </div>
                                <div class="col-9">
                                    <input required class="form-control form-control-lg" type="text"
                                           th:field="*{contentText}">
                                </div>
                            </div>

                            <div class="row align-items-center p-2">
                                <div class="col-3">
                                    <h5 class="mb-0" th:text="#{type_content}">
                                    </h5>
                                </div>
                                <div class="col-9">
                                    <input required class="form-control form-control-lg" type="text"
                                           th:field="*{typeContent}">
                                </div>
                            </div>

                            <div class="row align-items-center p-2 ">
                                <div class="col-3">
                                    <h5 class="mb-0" th:text="#{select_sound}">
                                    </h5>
                                </div>
                                <div class="col-9">

                                    <select class="form-select form-select-lg" th:field="*{sound.id}">
                                        <option th:each="sound : ${sounds}"
                                                th:value="${sound.getId()}"
                                                th:text="${sound.getName()}">
                                        </option>

                                    </select>

                                </div>
                            </div>

                            <div class="row align-items-center p-2">
                                <div class="col-3">
                                    <h5 class="mb-0" th:text="#{upload_audio_file_with_pronunciation}">
                                    </h5>
                                </div>
                                <div class="col-md-9">

                                    <input required multiple="multiple" type="file" accept=".mp3"
                                           name="audioFile"
                                           class="form-control form-control-lg"/>
                                    <div class="small text-muted mt-2"
                                         th:text="#{upload_your_audio_file_max_size_10_mb}">
                                    </div>

                                </div>
                            </div>
                            <div class="row align-items-center p-2">
                                <div class="col-3">
                                    <h5 class="mb-0" th:text="#{upload_image_or_gif_with_pronunciation}">
                                    </h5>
                                </div>
                                <div class="col-md-9">
                                    <input required multiple="multiple" type="file" name="imageFile" accept="image/*"
                                           class="form-control form-control-lg"/>
                                    <div class="small text-muted mt-2"
                                         th:text="#{upload_your_image_file_max_size_10_mb}">
                                    </div>

                                </div>
                            </div>

                            <input class="btn btn-primary btn-lg" type="submit" th:value="#{submit}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>