<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create sound</title>
    <meta th:insert="fragments/header::header">
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<h1>
    <form th:action="@{/sound-content/create}" th:object="${soundContent}" enctype="multipart/form-data" method="post">
        <label>Content text
            <input type="text" th:field="*{contentText}">
        </label>
        <label>Sound
            <select th:field="*{sound.id}">
                <option th:each="sound : ${sounds}"
                        th:value="${sound.getId()}"
                        th:text="${sound.getName()}">
                </option>
            </select>
        </label>
        <label>File
            <input multiple="multiple" type="file" name="file" class="file-input"/>
            <input multiple="multiple" type="file" accept=".mp3,audio/*" name="audioFile" class="file-input"/>
        </label>
        <input type="submit">
    </form>
</h1>
</body>
</html>