<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sound contents List</title>
    <meta th:insert="fragments/header :: header">
</head>
<body>
<div th:insert="fragments/navbar :: navbar">
</div>

<div class="container">
    <div th:switch="${message}">
        <div th:case="'Success'" class="alert alert-success" >
            <strong th:text="#{success}"></strong> <span th:text="#{operation_performed_successfully}"></span>
        </div>
        <div th:case="'Failed'" class="alert alert-danger" >
            <strong th:text="#{failure}"></strong> <span th:text="#{operation_failed}"></span>
        </div>
    </div>

    <h3>
        <div class="jumbotron">
            <h1 class="display-4 page-title" th:text="#{displayed_sound_content}">
            </h1>
        </div>
        <table class="table table-bordered">
            <thead class="bg-primary text-white">
            <tr>
                <th th:text="#{content_text}">
                </th>
                <th th:text="#{type_content}">
                </th>
                <th th:text="#{audio}">
                </th>
                <th th:text="#{link_on_content}">
                </th>
            </tr>
            </thead>
            <tbody class="bg-light text-dark">
            <tr th:each="sound_content : ${soundContentsList}">
                <td th:text="${sound_content.getContentText()}"></td>
                <td th:text="${sound_content.getContentType()}"></td>
                <td>
                    <audio controls>
                        <source th:src="@{${'/files/'+sound_content.getAudioFile().getId()}}">
                    </audio>
                </td>
                <td class="text-center">
                    <a class="btn btn-info" th:href="@{${'/sound-content/'+ sound_content.getId()}}" th:text="#{open}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <a class="btn btn-success add-button" th:href="@{/sound-content/create/page}" th:text="#{add_new_sound_content}">
            </a>
        </div>
    </h3>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>