<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header">
    <meta charset="UTF-8">

    <script src="
https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js
"></script>
    <link href="
https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css
" rel="stylesheet">    <link rel="stylesheet" th:href="@{/style/own.css}">
    <link rel="shortcut icon" th:href="@{/image/nav-icon.png}">

    <script src="
https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js
"></script>
    <link href="
https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css
" rel="stylesheet">    <link rel="stylesheet" th:href="@{/style/own.css}">
    <title>Speech learning</title>
</head>
</html>`