<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
</head>
<body>
<nav class=" navbar navbar-expand-lg navbar-light bg-light navbar-default" th:fragment="navbar">
    <a class="navbar-brand px-2" th:href="@{/topic}">
        <img class="figure-img img-fluid rounded"
             th:src="@{/image/dbIcon.png}"
             alt="Logo" width="40" height="40"/>
        <span>
            DB Learning
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/exercises/list}" th:text="#{exercise_list}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/exercise-contents/list}" th:text="#{exercise_content_list}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/own-words}" th:text="#{learn_your_own_words}">
                </a>
            </li>
        </ul>

    </div>

  <!--  <a class="nav-link" th:href="@{/topic?lang=en}">
        <img type="image" th:src="@{/image/england-flag.jpg}"
             alt="English topic" width="32" height="18"/>
    </a>
    <a class="nav-link" th:href="@{/topic?lang=ua}">
        <img type="image" th:src="@{/image/ukraine-flag.jpg}"
             alt="Ukrainian topic" width="32" height="18"/>
    </a>-->
</nav>
</body>
</html>
