<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Language</title>
    <meta th:insert="fragments/header :: header">
</head>
<body>
<div th:insert="fragments/navbar :: navbar">
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 page-title"  th:text="#{greeting}">
            </h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                         alt="English language"
                         th:src="@{/image/england-flag.jpg}">
                    <div class="card-body">
                        <p class="card-text">Content for learning English pronunciation. Just open it.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/sounds/list/English"
                                   type="button" class="btn btn-sm btn-outline-secondary">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                         alt="English language"
                         th:src="@{/image/ukraine-flag.jpg}">
                    <div class="card-body">
                        <p class="card-text">Матеріали для вивчення Української вимови. Просто відкрийте це.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/sounds/list/Ukrainian"
                                   type="button" class="btn btn-sm btn-outline-secondary">Відкрити</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('language?lang=' + selectedOption);
            }
        });
    });
</script>
</html>