<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sound list</title>
    <meta th:insert="fragments/header :: header">
</head>
<body>
<div th:insert="fragments/navbar :: navbar">
</div>
<div class="container">
    <div th:switch="${soundsLists}">
        <h2 th:case="null">No sounds yet!</h2>
        <div th:case="*">
            <div class="jumbotron">
                <h1 class="display-4 page-title">
                    Sounds
                </h1>
                <p class="lead">There is a displayed sounds. You can choose one and start to
                    learn pronunciation!</p>
            </div>
            <div th:each="shortSoundList : ${soundsLists}" class="row">
                <div th:each="sound :${shortSoundList}" th:remove="tag">
                    <a class="rounded-pill btn-secondary col-3 sound-block" th:text="${sound.getName()}"
                       th:href="@{${'/sound-contents/' + sound.getId()}}"></a>
                </div>
            </div>
            <!--todo remove comments-->
            <!-- <table>
                 <thead>
                 <tr>
                     <th>Name</th>
                     <th>Language</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr th:each="sound : ${sounds}">
                     <td th:text="${sound.getName()}"></td>
                     <td th:text="${sound.getLanguage()}"></td>
                 </tr>
                 </tbody>
             </table>-->
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-success add-button" th:href="@{/sound/create/page}">Add a new sound</a>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>